@import url('../Content/bootstrap.min.css');

@import url('angular-smilies.css');


@import url('../Content/themes/base/jquery-ui.css');
@import url('../Content/themes/base/all.css');
@import url('ng-trans.css');
@import url('toaster.min.css');
@import url('drag-drop.css');



body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

a, a:hover, a:active {
    text-decoration: none;
}

.navbar-inverse {
    border-radius: 0;
    background-color: #449d44;
    border: none;
    -webkit-box-shadow: 0 11px 5px -5px rgba(0,0,0,0.23);
-moz-box-shadow: 0 11px 5px -5px rgba(0,0,0,0.23);
box-shadow: 0 11px 5px -5px rgba(0,0,0,0.23);

}

    .navbar-inverse .navbar-nav > li > a {
        color: #b6ff00;
    }

    .navbar-inverse .navbar-brand {
        color: #ffffff;
        font-weight:bold;
        position:relative;
        top:-4px;
        font-size: 28px;
        text-shadow: 0 1px 0 #ccc,
               0 2px 0 #ccc,
               0 3px 0 #bbb,
               0 4px 0 #ccc,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
        background-color: #044804;
        border: none;
    }

.send-message {
    margin-top: 50px;
}

.message-plus-input {
    padding: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background-color: #fcfcfc;
    position:relative;
    top:80px;
}


.messages {
    min-width: 60%;
    width: 70%;
    margin-left: 4%;
}


.odd {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 77%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 77%,#ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 77%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    margin-top: 5px;
    padding: 10px;
    border-radius: 20px 20px 0 20px;
    -webkit-box-shadow: 1px 10px 13px -9px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 10px 13px -9px rgba(0,0,0,0.24);
    box-shadow: 1px 10px 13px -9px rgba(0,0,0,0.24);
    border: 1px solid rgba(0,0,0,0.1);
}

.even {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 77%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 77%,#ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 77%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    margin-top: 5px;
    padding: 10px;
    border-radius: 20px 20px 0 20px;
    -webkit-box-shadow: 1px 10px 13px -9px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 10px 13px -9px rgba(0,0,0,0.24);
    box-shadow: 1px 10px 13px -9px rgba(0,0,0,0.24);
    border: 1px solid rgba(0,0,0,0.1);
}

.table {
    border: none;
}

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border: none;
    }

.toast-top-center {
    margin-top: 50px;
}

.fav .fav-channel-header-icon {
    position: relative;
    top: 6px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.glyphicon-dashboard {
    position: relative;
    top: 6px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.channels {
    position:relative;
    top:80px;
}
.admin-page{
    position:relative;
    top:80px;
}
.scrollme {
    max-height:200px;
}