<div class="admin-page">
    <div class="col-md-12">
        <h1 class="text-success">
            <i class="glyphicon glyphicon-user"></i>
            <span ng-bind="title"></span>
        </h1>

    </div>

    <div class="col-md-12">
        <!--custom component for adding and listing channels in Admin Area-->
        <add-channel-plus-list-channel></add-channel-plus-list-channel>


        <!--custom component for favorite channels-->
        <favorite-channel></favorite-channel>

    </div>
    <div class="col-md-12">
        <trash-can></trash-can>
    </div>
    <!--Toaster Notification Container-->
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>

    <!--Modal for favorite channel dropping confirmation-->
    <script type="text/ng-template" id="ModalInstance.html">
        <div class="modal-body">
            <b>Please confirm the addition!</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
