<!--Channel with its messages-->
<div class="col-md-12 message-plus-input">
    <div class="col-md-6 col-md-offset-3">
        <div class="col-md-12">
            <h2>
                <span class="text-muted">Channel: </span>
                <span ng-bind="channel.name" class="text-info"></span>
            </h2>
        </div>



        <!--messageBox --Custom Component-->
        <message-box></message-box>



    </div>
    <!--sendMessage -- Custom Component-->
    <send-message></send-message>

</div>

