
<div class="col-md-12 messages ng-trans ng-trans-flip-x" ng-class-odd="'odd'" ng-class-even="'even'" ng-show="message" ng-repeat="message in $ctrl.messages track by $index" ng-if="$ctrl.routeParamsId==message.channelId">
    <div class="col-md-12">
        <h4 ng-bind="message.body" class="text-success"></h4>
        <h5>
            <span><i class="glyphicon glyphicon-user text-muted"></i></span> <span ng-bind="message.author" class="text-info"></span>
            <span ng-bind="message.timeSent | date:'yyyy-MM-dd HH:mm:ss'" class="text-muted"></span>
        </h5>
    </div>

</div>




