<div class="col-md-2">
    <h2 class="text-success">Create Channel</h2>
    <form ng-submit="$ctrl.addChannel(addChannelForm.$valid)" name="addChannelForm"  novalidate>
        <div class="form-group">
            <label>Name:</label>
            <input type="text" name="name" placeholder="channel name" ng-model="$ctrl.newChannel.name" class="form-control" required />
            <div ng-messages="addChannelForm.name.$error && addChannelForm.name.$touched" role="alert">
                <div ng-message="required" class="text-danger">Channel Name is Required!</div>
            </div>
        </div>
        <button type="submit" class="btn btn-success" ng-disabled="addChannelForm.$invalid"><i class="glyphicon glyphicon-plus"></i> Create</button>
    </form>

</div>

<div class="col-md-4 col-md-offset-1">
    <h2 class="text-success">Channels</h2>
    <ul class="list-unstyled">
        <li ng-repeat="channel in $ctrl.channels track by $index" data-jqyoui-options="{revert: 'invalid',scroll:true, cursor:'move'}" jqyoui-draggable="{index: {{$index}}, animate: true}" data-drag="true" ng-model="channel" ng-class="drag" ng-hide="!channel.name" removeId="{{channel.id}}">
            <h3>
                <i class="glyphicon glyphicon-signal small"></i>
                <span ng-bind="channel.name" class="text-primary"></span>
                <span class="btn btn-xs" title="Remove"><i class="glyphicon glyphicon-trash text-danger" ng-click="$ctrl.deleteChannel(channel)"></i></span>

            </h3>

        </li>

    </ul>

</div>
